@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author:Nicholas Garcia 
   Date:9/25/29   
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */
div.row{
   width: 100%;
   clear: both;
}
/*makes all div that are rows a width of 100% of parent element and clears both sides of the margin*/
div.row{
   clear: both;
   content: "";
   display: table;
}
/*makes so there are no content collapses in the rows*/
div[class^="column"]{
   float: left;
}
/*makes all comulmns float left*/
div.column100{
   width: 100%;
} 
div.column50{
   width: 50%;
} 
div.column33{
   width: 33%;
} 
div.column25{
   width: 25%;
}
div.column67{
   width: 67%;
} 
div.column75{
   width: 75%;
} 
div.column20{
   width: 20%;
} 
div.column40{
   width: 40%;
} 
div.column60{
   width: 60%;
} 
div.column80{
   width: 80%;
}
/*sets the width sizes of all boxes*/
/* Grid Columns Styles */




/* Grid Spacing Styles */
div.container, div.row, div[class^="column"], div.cell, div a{
   box-sizing: border-box;
} 
/*Makes so div elements with the class container, cell, or row its sizing is border-box. Also sets all div a to border box with any columns*/